In [1]:
from datetime import datetime
import pandas as pd

In [21]:
start_date, end_date = '2006-01-01', '2006-02-10'
filter_dates = {}
for d in pd.date_range(start=start_date, end=end_date):
    if d.year not in filter_dates:
        filter_dates[d.year] = []
    filter_dates[d.year].append(d.strftime('%Y-%m-%d'))
    # print(d.strftime('%Y-%m-%d'))

In [8]:
start_date, end_date = '2006-01-01', '2006-02-10'
pd.date_range(start=start_date, end=end_date)

DatetimeIndex(['2006-01-01', '2006-01-02', '2006-01-03', '2006-01-04',
               '2006-01-05', '2006-01-06', '2006-01-07', '2006-01-08',
               '2006-01-09', '2006-01-10', '2006-01-11', '2006-01-12',
               '2006-01-13', '2006-01-14', '2006-01-15', '2006-01-16',
               '2006-01-17', '2006-01-18', '2006-01-19', '2006-01-20',
               '2006-01-21', '2006-01-22', '2006-01-23', '2006-01-24',
               '2006-01-25', '2006-01-26', '2006-01-27', '2006-01-28',
               '2006-01-29', '2006-01-30', '2006-01-31', '2006-02-01',
               '2006-02-02', '2006-02-03', '2006-02-04', '2006-02-05',
               '2006-02-06', '2006-02-07', '2006-02-08', '2006-02-09',
               '2006-02-10'],
              dtype='datetime64[ns]', freq='D')

In [4]:
from pprint import pprint

In [25]:
df = pd.read_csv('/home/baadalvm/market_intelligence_system/data/imputed_data/soyabean/prices/madhya_pradesh_ujjain_prices.csv', index_col=['DATE'])
df.head()

            PRICE  IMPUTED
DATE
2006-01-01   1140        1
2006-01-02   1140        0
2006-01-03   1145        0
2006-01-04   1160        0
2006-01-05   1150        0

In [29]:
data = []
for year, dates in filter_dates.items():
    fdf = df.loc[dates]
    data = []
    for idx, row in fdf.iterrows():
        data.append({'DATE': idx, 'PRICE': row['PRICE']})

In [30]:
pprint(data)

[{'DATE': '2006-01-01', 'PRICE': 1140},
 {'DATE': '2006-01-02', 'PRICE': 1140},
 {'DATE': '2006-01-03', 'PRICE': 1145},
 {'DATE': '2006-01-04', 'PRICE': 1160},
 {'DATE': '2006-01-05', 'PRICE': 1150},
 {'DATE': '2006-01-06', 'PRICE': 1275},
 {'DATE': '2006-01-07', 'PRICE': 1140},
 {'DATE': '2006-01-08', 'PRICE': 1000},
 {'DATE': '2006-01-09', 'PRICE': 1165},
 {'DATE': '2006-01-10', 'PRICE': 1018},
 {'DATE': '2006-01-11', 'PRICE': 1018},
 {'DATE': '2006-01-12', 'PRICE': 1150},
 {'DATE': '2006-01-13', 'PRICE': 1029},
 {'DATE': '2006-01-14', 'PRICE': 1029},
 {'DATE': '2006-01-15', 'PRICE': 1029},
 {'DATE': '2006-01-16', 'PRICE': 1145},
 {'DATE': '2006-01-17', 'PRICE': 1145},
 {'DATE': '2006-01-18', 'PRICE': 1145},
 {'DATE': '2006-01-19', 'PRICE': 1135},
 {'DATE': '2006-01-20', 'PRICE': 1140},
 {'DATE': '2006-01-21', 'PRICE': 1140},
 {'DATE': '2006-01-22', 'PRICE': 1056},
 {'DATE': '2006-01-23', 'PRICE': 1155},
 {'DATE': '2006-01-24', 'PRICE': 1140},
 {'DATE': '2006-01-25', 'PRICE': 1068},
 {'DATE': '2006-01-26', 'PRICE': 1068},
 {'DATE': '2006-01-27', 'PRICE': 1068},
 {'DATE': '2006-01-28', 'PRICE': 1068},
 {'DATE': '2006-01-29', 'PRICE': 1068},
 {'DATE': '2006-01-30', 'PRICE': 1068},
 {'DATE': '2006-01-31', 'PRICE': 1068},
 {'DATE': '2006-02-01', 'PRICE': 1150},
 {'DATE': '2006-02-02', 'PRICE': 1140},
 {'DATE': '2006-02-03', 'PRICE': 1155},
 {'DATE': '2006-02-04', 'PRICE': 1160},
 {'DATE': '2006-02-05', 'PRICE': 1078},
 {'DATE': '2006-02-06', 'PRICE': 1078},
 {'DATE': '2006-02-07', 'PRICE': 1160},
 {'DATE': '2006-02-08', 'PRICE': 1150},
 {'DATE': '2006-02-09', 'PRICE': 1082},
 {'DATE': '2006-02-10', 'PRICE': 1082}]

In [10]:
pprint(filter_dates)

{2006: [datetime.date(2006, 1, 1),
        datetime.date(2006, 1, 2),
        datetime.date(2006, 1, 3),
        datetime.date(2006, 1, 4),
        datetime.date(2006, 1, 5),
        datetime.date(2006, 1, 6),
        datetime.date(2006, 1, 7),
        datetime.date(2006, 1, 8),
        datetime.date(2006, 1, 9),
        datetime.date(2006, 1, 10),
        datetime.date(2006, 1, 11),
        datetime.date(2006, 1, 12),
        datetime.date(2006, 1, 13),
        datetime.date(2006, 1, 14),
        datetime.date(2006, 1, 15),
        datetime.date(2006, 1, 16),
        datetime.date(2006, 1, 17),
        datetime.date(2006, 1, 18),
        datetime.date(2006, 1, 19),
        datetime.date(2006, 1, 20),
        datetime.date(2006, 1, 21),
        datetime.date(2006, 1, 22),
        datetime.date(2006, 1, 23),
        datetime.date(2006, 1, 24),
        datetime.date(2006, 1, 25),
        datetime.date(2006, 1, 26),
        datetime.date(2006, 1, 27),
        datetime.date(2006, 1, 28),
        datetime.date(2006, 1, 29),
        datetime.date(2006, 1, 30),
        datetime.date(2006, 1, 31),
        datetime.date(2006, 2, 1),
        datetime.date(2006, 2, 2),
        datetime.date(2006, 2, 3),
        datetime.date(2006, 2, 4),
        datetime.date(2006, 2, 5),
        datetime.date(2006, 2, 6),
        datetime.date(2006, 2, 7),
        datetime.date(2006, 2, 8),
        datetime.date(2006, 2, 9),
        datetime.date(2006, 2, 10)]}

In [1]:
import firebase_admin
from firebase_admin import credentials, firestore
import os

# paths
par_dir = os.path.abspath(os.path.join(os.getcwd(), '..', '..'))
data_dir = os.path.join(par_dir, 'data')

# firebase authentication
cred_obj = credentials.Certificate(os.path.join(par_dir, 'code', 'utilities', 'key_firebase.json'))
firebase_admin.initialize_app(cred_obj)
db = firestore.client()

In [3]:
query = db.collection('MAHARASHTRA_NAGPUR_Recommendation').where('name', '==', '2020-07-09')
query_results = query.get()
print(query_results)
print(len(query_results) > 0)

[]
False

In [9]:
collection_name = 'RAJASTHAN_KOTA_Recommendation_Test'

# Get all documents in the collection
collection_ref = db.collection(collection_name)

# Retrieve all documents in the collection
docs = collection_ref.stream()

# Delete each document in the collection
for doc in docs:
    doc.reference.delete()